---
import ImgPb from "./ImgPb.astro";
import type { UsersRecord } from "../pocketbase-types";

interface Props {
    user: UsersRecord | null;
}

const { user } = Astro.props;
---

{
    user && (
        <div class="w-8 h-8 sm:w-10 sm:h-10 rounded-full overflow-hidden border-2 border-[#c9302c]">
            <ImgPb
                record={user}
                field="avatar"
                alt="Avatar"
                classPicture="w-full h-full"
                classImg="w-full h-full object-cover"
                thumb="100x100"
            />
        </div>
    )
}
